swissgeodownloader/resources/resources.qrc export-ignore
swissgeodownloader/scripts/** export-ignore
swissgeodownloader/i18n/*.pro export-ignore
swissgeodownloader/i18n/*.ts export-ignore
swissgeodownloader/test/** export-ignore
